@font-face{font-family:opensans-light;src:url(./../fonts/OpenSans-Light.ttf)}@font-face{font-family:montserrat-bold;src:url(../fonts/Montserrat-Bold.otf)}@font-face{font-family:montserrat-thin;src:url(../fonts/Montserrat-Light.otf)}@font-face{font-family:oribtron;src:url(./../fonts/Orbitron.ttf)}body{font-family:opensans-light;background-image: linear-gradient(#f78fb3, #f4b0c8)!important}.orbitron{font-family:oribtron}.header h1{font-size:40px;font-family:oribtron;color:#fff}.header h3{color:#fff;font-size:26px;font-weight:100;font-family:oribtron}canvas{display:block;vertical-align:bottom}#particles-js{position:absolute;top:0;bottom:0;width:100%;height:100%;z-index:100}.particle-container{position:relative;overflow:hidden;height:850px}.particle-container nav{z-index:103!important}.particle-container .header{position:absolute;top:0;bottom:0;width:100%;margin-top:0;z-index:102!important}.particle-container .header .d-flex{min-height:100%!important}.text-info{color:#FFEDF4!important}a.text-info:hover{color:#FFEDF4!important}a.text-primary:hover{color:#6a80ff!important}.badge-info{background-color:#E64880!important;color:#fff;font-weight:700}.circle-icon{width:100px;height:100px;line-height:100px;font-size:60px;color:#fff;margin:40px auto;transition:all .3s ease-in-out;position:relative;text-align:center}.circle-icon:before{position:absolute;margin:auto;width:100%;left:-15px;right:0;content:' ';width:130px;height:100px;z-index:1000;background-image:url(./../images/sparkles.png);transition:all .3s ease-in-out}.circle-icon:hover{transform:rotate(15deg) scale(1)}.circle-icon:hover:before{transform:rotate(-15deg) scale(1.1)}.card{background-color:#F06999;box-shadow:none}footer{background-color:#F06999!important}.spaceman,.spaceman-right{position:relative}.spaceman:before{content:' ';position:absolute;left:0;width:100%;height:100%;background:url(./../images/butterfly-background.svg) left center no-repeat}.spaceman-right:before{content:' ';position:absolute;right:0;width:100%;height:100%;background:url(../img/spaceman.png) right center no-repeat}.spaceman-muted:before{opacity:.31}@media(max-width:991.98px){.spaceman:before,.spaceman-right:before{opacity:.3}.buy-link{width:100%}.navbar-horizontal .navbar-collapse.collapsing,.navbar-horizontal .navbar-collapse.show{background:#F06999}.navbar-horizontal .navbar-nav .nav-link{padding:.625rem 0;color:#fff!important}.navbar-horizontal .navbar-collapse .navbar-toggler span{position:absolute;display:block;width:100%;height:2px;opacity:1;border-radius:2px;background:#fff}}pre{color:#fff!important}.stats-container{position:absolute;z-index:1000;bottom:0;left:0;width:100%}.full-page{position:absolute;width:100%;height:100vh}.shadow{box-shadow:0 0 2rem 0 rgba(0,0,0,.15)!important}.team-avatar{background-position:top center}#teamcard .social-overlay{position:absolute;left:0;top:0;right:0;display:none;height:100%}#teamcard .social-overlay .d-flex{height:100%;width:100%;text-align:center}#teamcard:hover .social-overlay{display:flex;backdrop-filter:blur(3px);background-color:rgba(0,0,0,.2)}#teamcard .rank{z-index:300}.cookie-container{position:fixed;width:100%;bottom:0;background-color:rgba(0,0,0,.4);z-index:1000;backdrop-filter:blur(4px);box-shadow:0 0 35px #111;border-top:solid 1px rgba(255,255,255,.1)}.top-bar{position:relative;height:45px;line-height:3px;font-family:museosans_500,sans-serif;z-index:210!important;background-color:rgba(0,0,0,.3);border-bottom:solid 1px rgba(255,255,255,.1)}.topnav{margin:0;padding:0;list-style:none}.topnav li{display:inline-block;height:45px;line-height:45px;font-size:10px;text-transform:uppercase;z-index:1!important}.topnav li:before{font-family:montserrat-thin,sans-serif;content:'|';position:relative;font-size:10px;margin:0 10px;color:#4b4319}.topnav li:first-child:before{content:'';margin:0}.topnav li a{z-index:1!important}.nav-pills .nav-link{background-color:#F06999;color:#36cc79}.nav-pills .nav-link:hover{color:#36cc79}.progress-bar{color:#36cc79}
.timeline-tag{background-color:#E64880;display:inline-block;padding:10px;color:#fff;font-weight:700;font-size:12px;position:relative;border-radius:4px}.timeline-tag:before{content:"";position:absolute;right:100%;top:50%;height:0;width:0;margin-top:-8px;border:solid transparent;border-right-color:#E64880;border-width:8px;pointer-events:none}.timeline:before{position:absolute;top:0;left:1rem;height:100%;content:'';border-right:2px solid #E64880}.timeline .badge-dark{background-color:#E64880!important}
.hero-title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #620f47;
    margin-top: 40px;
}
.hero-subtitle {
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}
.hero-title-2 {
    color: #ea1f30;
    font-size: 86px;
    text-transform: uppercase;
    font-weight: 900;
}
.f-cancer {
    background-color: #ea1f30;
    padding: 4px 10px;
    color: #fff;
    width: fit-content;
    margin: 0 auto;
    font-weight: 300;
    text-transform: uppercase;
}
.hero-text {
    line-height: 1.25;
    font-family: 'Archivo', sans-serif;
}
.hero-top-image img {    
    width: 200px;
    margin: 0 auto;
}
.hero-subtitle {
    color: #620f47;
}
.particle-container {
    background-color: #f9bacc!important;
    background-image: none !important;
}
.tits-circle {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
.coinimage-bg {
    position: relative;
}
.coinimage-bg:before {
    width: 100%;
    height: 100%;
    background-image: url(./../images/CoinImage.png);
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        opacity: .2;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        z-index: -1;
}
.header-bg {
    background-image: url(https://i2.wp.com/files.123freevectors.com/wp-content/original/131596-pink-and-white-polygonal-background-design-illustration.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.charities-row img {
    width: 100%;
    filter: brightness(0) invert(1);
    padding: 0 1vw;
}
.charities-row .col-3, .charities-row .col-6 {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .hero-top-image img {
        width: 150px;
    }
}
.timeline-block img {
    width: 1.25em;
    filter: brightness(0) invert(1);
}

.white-bg {
    background-color: #fff;
    margin-top: -30px;
}
.white-bg .text-white {
    color: #F06999 !important;
}
.white-bg .text-info {
    color: #610022 !important;
}