@font-face{font-family:opensans-light;src:url(https://titscoin.io/assets/fonts/OpenSans-Light.ttf)}@font-face{font-family:montserrat-bold;src:url(https://titscoin.io/assets/fonts/Montserrat-Bold.otf)}@font-face{font-family:montserrat-thin;src:url(https://titscoin.io/assets/fonts/Montserrat-Light.otf)}@font-face{font-family:oribtron;src:url(https://titscoin.io/assets/fonts/Orbitron.ttf)}body{font-family:opensans-light;font-display: swap;background-image:linear-gradient(#f78fb3,#f4b0c8)!important}.orbitron{font-family:oribtron}.header h1{font-size:40px;font-family:oribtron;font-display: swap;color:#fff}.header h3{color:#fff;font-size:26px;font-weight:100;font-family:oribtron}#particles-js{position:absolute;top:0;bottom:0;width:100%;height:100%;z-index:100}.particle-container{position:relative;overflow:hidden;height:850px}.particle-container nav{z-index:103!important}.particle-container .header{position:absolute;top:0;bottom:0;width:100%;margin-top:0;z-index:102!important}.particle-container .header .d-flex{min-height:100%!important}.text-info{color:#ffedf4!important}a.text-info:hover{color:#ffedf4!important}.badge-info{background-color:#e64880!important;color:#fff;font-weight:700}.circle-icon{width:100px;height:100px;line-height:100px;font-size:60px;color:#fff;margin:40px auto;transition:all .3s ease-in-out;position:relative;text-align:center}.circle-icon:before{position:absolute;margin:auto;width:100%;left:-15px;right:0;content:' ';width:130px;height:100px;z-index:1000;background-image:url(https://titscoin.io/assets/images/sparkles.png);transition:all .3s ease-in-out}.circle-icon:hover{transform:rotate(15deg) scale(1)}.circle-icon:hover:before{transform:rotate(-15deg) scale(1.1)}.card{background-color:#f06999;box-shadow:none}footer{background-color:#f06999!important}.spaceman,.spaceman-right{position:relative}.spaceman:before{content:' ';position:absolute;left:0;width:100%;height:100%;opacity:0.2;background:url(https://titscoin.io/assets/images/butterfly-background.svg) left center no-repeat}.spaceman-right:before{content:' ';position:absolute;right:0;width:100%;height:100%;background:url(https://titscoin.io/assets/img/spaceman.png) right center no-repeat}@media (max-width:991.98px){.spaceman-right:before,.spaceman:before{opacity:.3}.buy-link{width:100%}.navbar-horizontal .navbar-collapse.show{background:#f06999}.navbar-horizontal .navbar-nav .nav-link{padding:.625rem 0;color:#fff!important}.navbar-horizontal .navbar-collapse .navbar-toggler span{position:absolute;display:block;width:100%;height:2px;opacity:1;border-radius:2px;background:#fff}}.stats-container{position:absolute;z-index:1000;bottom:0;left:0;width:100%}.shadow{box-shadow:0 0 2rem 0 rgba(0,0,0,.15)!important}.cookie-container{position:fixed;width:100%;bottom:0;background-color:rgba(0,0,0,.4);z-index:1000;backdrop-filter:blur(4px);box-shadow:0 0 35px #111;border-top:solid 1px rgba(255,255,255,.1)}.top-bar{position:relative;height:45px;line-height:3px;font-family:museosans_500,sans-serif;z-index:210!important;background-color:rgba(0,0,0,.3);border-bottom:solid 1px rgba(255,255,255,.1)}.topnav{margin:0;padding:0;list-style:none}.topnav li{display:inline-block;height:45px;line-height:45px;font-size:10px;text-transform:uppercase;z-index:1!important}.topnav li:before{font-family:montserrat-thin,sans-serif;content:'|';position:relative;font-size:10px;margin:0 10px;color:#4b4319}.topnav li:first-child:before{content:'';margin:0}.topnav li a{z-index:1!important}.timeline-tag{background-color:#e64880;display:inline-block;padding:10px;color:#fff;font-weight:700;font-size:12px;position:relative;border-radius:4px}.timeline-tag:before{content:"";position:absolute;right:100%;top:50%;height:0;width:0;margin-top:-8px;border:solid transparent;border-right-color:#e64880;border-width:8px;pointer-events:none}.timeline:before{position:absolute;top:0;left:1rem;height:100%;content:'';border-right:2px solid #e64880}.timeline .badge-dark{background-color:#e64880!important}.hero-title{font-size:32px;font-weight:700;text-transform:uppercase;color:#620f47;margin-top:40px}.hero-subtitle{width:400px;margin:0 auto;margin-top:10px}.hero-title-2{color:#ea1f30;font-size:86px;text-transform:uppercase;font-weight:900}.f-cancer{background-color:#ea1f30;padding:4px 10px;color:#fff;width:fit-content;margin:0 auto;font-weight:300;text-transform:uppercase}.hero-text{line-height:1.25;font-family:Archivo,sans-serif}.hero-top-image img{width:200px;height: auto;margin:0 auto}.hero-subtitle{color:#620f47}.particle-container{background-color:#f9bacc!important;background-image:none!important}.tits-circle{width:350px;margin:0 auto;text-align:center}.coinimage-bg{position:relative}.coinimage-bg:before{width:100%;height:100%;background-image:url(https://titscoin.io/assets/images/CoinImage_1500x.png);content:' ';display:block;position:absolute;left:0;top:0;opacity:.2;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;z-index:-1}.header-bg{background-image:url(https://d308fakbqebk7c.cloudfront.net/tits/images/58931.jpg);background-size:cover;background-position:center;background-repeat:no-repeat;z-index:-2;opacity:.2;position:absolute;left:0;top:0;width:100%;height:100%}.charities-row img{height:auto;width:100%;filter:brightness(0) invert(1);padding:0 1vw}.charities-row .col-3,.charities-row .col-6{display:flex;align-items:center}@media only screen and (max-width:600px){.hero-top-image img{width:150px}}.timeline-block img{width:1.25em;filter:brightness(0) invert(1)}.white-bg{background-color:#fff;margin-top:-30px}.white-bg .text-white{color:#f06999!important}.white-bg .text-info{color:#610022!important}.donations-wrapper{display:flex;align-items:center;height:100%;justify-content:center}.donations-wrapper a{background-color:#fff2f6;height:100%;padding:10px;align-self:stretch;justify-content:center;display:flex;align-items:center;max-width:fit-content;margin:0 10px;height:auto}.donations-wrapper img{margin:auto}
.navbar-horizontal.navbar-transparent .navbar-toggler {
    color: #fff;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.6);
    border-color: transparent;
}
.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    padding: .25rem .75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: transparent;
}
img {
    width: 100%;
}
.navbar-horizontal .navbar-brand img {
    width: 30px;
}
.navbar-collapse-header img {
    width: 30px;
}
.bsc-image {
    width: auto;
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate, body[data-aos-delay="300"] [data-aos].aos-animate {
    transition-delay: .3s;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="300"], body[data-aos-delay="300"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform;
}
[data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
    transition-delay: .6s;
}
[data-aos][data-aos][data-aos-delay="600"], body[data-aos-delay="600"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="900"].aos-animate, body[data-aos-delay="900"] [data-aos].aos-animate {
    transition-delay: .9s;
}
[data-aos][data-aos][data-aos-delay="900"], body[data-aos-delay="900"] [data-aos] {
    transition-delay: 0;
}
[data-aos=fade-down] {
    transform: translate3d(0,-100px,0);
}
.socials-nav-c svg {
    width: 18px;
}
.custom-svg {
    height: 60px;
}
.socials-footer-svg {
    height: 32px;
}
.thumbnail-background {
    background: #ffe6ed;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ffd6e2;
}
.img-thumbnail-n {
    margin: auto;
}
.desktop-only {
    display: flex;
}
.mobile-only {
    display: none;
}
@media only screen and (max-width:668px){
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: auto;
        max-height: 420px;
    }
    .carousel-item {
        height: 450px;
        min-height: fit-content;
    }
}
.stats-container {
    background-color: #590f41 !important;
}